.hoverableTransition {
  opacity: 0.3;
  transition: opacity 0.2s ease-in-out;
  
  &:hover {
    opacity: 1;
  }
}

.headerText {
  color: white;
  font-family: Bahnschrift;
  font-size: 25px;
  vertical-align: middle;
  margin-left: 10px;
}

.headerLogo {
  vertical-align: middle;
  margin-top: -2px;
}