.user-layout {
  min-height: 100vh;

  // todo: копипаста с anonymous-layout.scss
  .header-text {
    color: white;
    font-family: Bahnschrift, serif;
    font-size: 25px;
    vertical-align: middle;
    margin-left: 10px;
  }

  .header-logo {
    vertical-align: middle;
    margin-top: -2px;
  }
  
  .header-menu {
    float: right;
  }

  .content-body {
    padding: 24px;
    margin: 0;
    min-height: 280px;
    font-family: helvetica, sans-serif;
    overflow-y: hidden;
    position: relative;
  }
}